VITE_API_URL=http://localhost:3000/api
VITE_APP_NAME=Projectfy
DATABASE_URL=postgresql://projectfy:projectfy@postgres:5432/projectfy
REDIS_URL=redis://redis:6379
JWT_SECRET=45038dbd28a2d02c3163d5a5eabd96ce384cc95b9b7d6fb4e3329f90dbddf419
JWT_REFRESH_SECRET=e616815285a242cad46ddbe84117826dbc1b93163fd96ac5cd190d152c94bb96
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
WHATSAPP_PROVIDER=
WHATSAPP_API_URL=
WHATSAPP_API_TOKEN=
